################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/JsonFile.Compare/.vs/JsonFile.Compare/v16/.suo
/JsonFile.Compare/JsonFile.Compare/obj
/JsonFile.Compare/.vs
/JsonFile.Compare/Console.Apps.Tools/bin/Debug/netcoreapp3.1
/JsonFile.Compare/Console.Apps.Tools/obj
/Console.Apps.Tools/.vs
/Console.Apps.Tools/JsonFile.Compare/bin/Debug/netcoreapp3.1
/Console.Apps.Tools/JsonFile.Compare/obj
