################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/JsonFile.Compare/.vs/JsonFile.Compare/v16/.suo
/JsonFile.Compare/JsonFile.Compare/obj
